## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_DAtabase.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,65.61,-37.64,35.60,93,97,9.17
1,1,Alappuzha,IN,9.49,76.33,77.23,87,85,0.18
2,2,Clyde River,CA,70.47,-68.59,37.40,78,20,16.11
3,3,Bluff,NZ,-46.60,168.33,51.78,70,89,13.42
4,4,Marystown,CA,47.17,-55.15,59.00,100,65,5.12

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Alappuzha,IN,9.49,76.33,77.23,87,85,0.18
10,10,Luganville,VU,-15.53,167.17,82.40,69,75,8.05
12,12,Vanimo,PG,-2.67,141.30,86.68,60,10,8.55
13,13,Yulara,AU,-25.24,130.99,82.40,15,0,14.99
14,14,Huangyan,CN,28.65,121.26,82.53,53,0,1.92
19,19,Hilo,US,19.73,-155.09,84.20,62,90,10.29
21,21,Sao Felix Do Xingu,BR,-6.64,-51.99,81.81,29,67,1.50
30,30,Bengkulu,ID,-3.80,102.27,78.64,83,16,6.53
33,33,Vila Velha,BR,-20.33,-40.29,75.99,83,0,11.41
39,39,San Cristobal,VE,7.77,-72.22,82.40,78,40,6.93

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       243
City          243
Country       243
Lat           243
Lng           243
Max Temp      243
Humidity      243
Cloudiness    243
Wind Speed    243
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
1            Alappuzha      IN     77.23   9.49   76.33
10          Luganville      VU     82.40 -15.53  167.17
12              Vanimo      PG     86.68  -2.67  141.30
13              Yulara      AU     82.40 -25.24  130.99
14            Huangyan      CN     82.53  28.65  121.26
19                Hilo      US     84.20  19.73 -155.09
21  Sao Felix Do Xingu      BR     81.81  -6.64  -51.99
30            Bengkulu      ID     78.64  -3.80  102.27
33          Vila Velha      BR     75.99 -20.33  -40.29
39       San Cristobal      VE     82.40   7.77  -72.22

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Alappuzha,IN,77.23,9.49,76.33,Panoramic Sea Resort
10,Luganville,VU,82.40,-15.53,167.17,The Espiritu Hotel
12,Vanimo,PG,86.68,-2.67,141.30,Vahmoneh Lodge Vanimo
13,Yulara,AU,82.40,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
14,Huangyan,CN,82.53,28.65,121.26,景和商务酒店
19,Hilo,US,84.20,19.73,-155.09,Hilo Hawaiian Hotel
21,Sao Felix Do Xingu,BR,81.81,-6.64,-51.99,Apart Hotel Rio Xingu
30,Bengkulu,ID,78.64,-3.80,102.27,Grage Hotel Bengkulu
33,Vila Velha,BR,75.99,-20.33,-40.29,Hotel Vitória Palace
39,San Cristobal,VE,82.40,7.77,-72.22,Pirineos

In [13]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Alappuzha,IN,77.23,9.49,76.33,Panoramic Sea Resort
10,Luganville,VU,82.40,-15.53,167.17,The Espiritu Hotel
12,Vanimo,PG,86.68,-2.67,141.30,Vahmoneh Lodge Vanimo
13,Yulara,AU,82.40,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
14,Huangyan,CN,82.53,28.65,121.26,景和商务酒店
...,...,...,...,...,...,...
677,Anlu,CN,80.98,31.17,112.58,Thank Inn Plus Hotel Hubei Jingmen Zhongxiang ...
681,Salinopolis,BR,80.06,-0.61,-47.36,Hotel Salinópolis
683,Balabac,PH,85.89,7.99,117.06,Sing and Swing Lodge
688,Gerash,IR,80.60,27.67,54.14,Chelpasin
689,Waingapu,ID,83.23,-9.66,120.26,Pondok Wisata Elim

In [14]:
# 7. Drop the rows where there is no Hotel Name.

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))